/* Import the font Red Hat display */
@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,700&display=swap");

* {
  font-family: "Red Hat Display", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    180deg,
    #82bbff 0%,
    #000d87 100%
  ); /* height: 100vh;
  width: 100vh; */
}

.card {
  width: auto;
  background-color: var(--transparentBackground);
  border-radius: var(--borderRadius);
}

/* GLOBAL VARIABLES */
:root {
  --transparentBackground: rgba(0, 18, 84, 0.3);
  --borderRadius: 15px;
  --maxWidthDesktop: 1280px;
  --textColor: #494949;
  --lightGrey: #f0f0f0;
}
